<!doctype html>
{% include "header.html" ignore missing %}
<html lang="en-us">
<head>

  <title>Contact Us</title>

</head>
<body style="background-color:plum; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  <!-- Contact Page Title -->
  <pre style="font-size:30px; text-align:left;"><strong>   How To Contact Us</strong></pre>
  <br>
  <!-- Contact Information Table -->
  <div style="background-color:violet; font-size:23px; padding:20px;">
    <table style="width:90%; border: 1px solid black;">
      <caption><strong>Contact Information</strong></caption>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
      </tr>
      <tr>
        <td>Location A</th>
        <td>1(555)555-5555</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut</td>
      </tr>
      <tr>
        <td>Location B</th>
        <td>1(555)555-5555</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut</td>
      </tr>
      <tr>
        <td>Location C</th>
        <td>1(555)555-5555</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut</td>
      </tr>
      <tr>
        <td>Location D</th>
        <td>1(555)555-5555</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut</td>
      </tr>
      <tr>
        <td>Location E</th>
        <td>1(555)555-5555</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <p style="text-align:justify;"><sup>Powered through <span style="color:blueviolet;">Python</span>, <span style="color:yellow;">Flask</span>, & <span style="color:blue;">Visual Studio Code</span></sup></p>
</body>
</html>