<!doctype html>
<html lang="en">
<!-- Navigation Tab Header-->
<div style="background-color:steelblue; padding:20px; text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <!-- This code establishes the Website's Title-->
  <h1 style="font-size:60px;">Company Name Here</h1>
    <!-- This code here sets up all of the buttons for the Navigation Tab at the top -->
  <p><a href="/"><strong><span style="border: 15px solid cornflowerblue; background-color: cornflowerblue; font-size: larger;">Home</span></strong></a>       |
    <a href="/news/"><strong><span style="border: 15px solid cornflowerblue; background-color: cornflowerblue; font-size: larger;">News</span></strong></a>       |
    <a href="/aboutus/"><strong><span style="border: 15px solid cornflowerblue; background-color: cornflowerblue; font-size: larger;">About Us</span></strong></a>       |
    <a href="/funfacts/"><strong><span style="border: 15px solid cornflowerblue; background-color: cornflowerblue; font-size: larger;">Funfacts</span></strong></a>       |
    <a href="/contactus/"><strong><span style="border: 15px solid cornflowerblue; background-color: cornflowerblue; font-size: larger;">Contact Us</span></strong></a>
  </p>
</div>
</html>