<!doctype html>
{% include "header.html" ignore missing %}
<html lang="en-us">
<head>

  <title>Product News</title>

</head>
<body style="background-color:goldenrod; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<!-- News Page Title -->
  <pre style="font-size:30px; text-align:left;"><strong>   News About Our Product</strong></pre>

<!-- News Articles -->
  <div style="background-color:darkgoldenrod; font-size:23px; padding:20px;">

    <h3><strong>Upcoming News A</strong></h3>
    <blockquote style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
      in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>
  </div>
  <br>
  <div style="background-color:darkgoldenrod; font-size:23px; padding:20px;">
    <h3><strong>Upcoming News B</strong></h3>
    <blockquote style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
      in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>
  </div>
  <br>
  <div style="background-color:darkgoldenrod; font-size:23px; padding:20px;">
    <h3><strong>Upcoming News C</strong></h3>
    <blockquote style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
      in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
  </div>
  <br>
  <br>
  <br>
  <p style="text-align:justify;"><sup>Powered through <span style="color:blueviolet;">Python</span>, <span style="color:yellow;">Flask</span>, & <span style="color:blue;">Visual Studio Code</span></sup></p>
</body>
</html>